        /* --- ÁREA PRINCIPAL (MAIN CONTENT) --- */
        .main-content {
            background-color: #f1f1f1;
            display: flex;
            align-items: left;
            justify-content: left;
            flex-direction: column;
            padding-block: 120px;
            padding-left: 100px;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
            color:black;
        }

        /* --- EXIBIÇÃO DO PERFIL --- */
        .profile-box{
            width: 500px;
            height: 150px;
        }

        .profile-photo{
            width: 125px;
            height: 125px;
            align-items: left;
            justify-content: left;
        }

        .profile-line{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }

        .profile-info{
            align-items: left;
            justify-content: left;
            margin-left: -100px;
        }

        .profile-info h2{
            font-size: 50px;
        }

        .profile-info p{
            font-size: 25px;
            margin-left: 4px;
        }

        /*Botão de Editar Infoemações */

        .profile-edit{
            width: 1700px;
            height: 100px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 1rem;
            margin-top: 50px;
            list-style: none;
            text-decoration: none;
            color: #000000;
        }

        .edit-line{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 10px;
        }

        .edit-desc{
            margin-left: 50px;
        }

        .edit-desc h2{
            font-size: 35px;
        }

        .edit-desc p{
            margin-left: 2px;
        }

        .arrow{
            width: 35px;
            height: 35px;
            margin-right: 35px;
            margin-bottom: 7.5px;
        }

        /* Lista de Pedidos */

        .order-list{
            width: 1700px;
            height: 300px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 1rem;
            margin-top: 50px;
        }

        .order-list h2{
            margin-top: 15px;
            margin-left: 50px;
        }

        .order-line{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin-top: 25px;
        }

        .order-box{
            width: 250px;
            height: 200px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 1rem;
        }

        .more-order{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none;
            text-decoration: none;
            color: #000000;
            margin-bottom: 100px;
        }

        .margin-order{
            margin-left: 10px;
        }

        .order-arrow{
            width: 35px;
            height: 35px;
            margin-left: 10px;
            margin-bottom: -6px;
        }

        .order-img{
            width: 30px;
            height: 30px;
        }

        .order-subprice{
            margin-left: 20px;
        }

        .inbox-line{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 50px;
        }

        .order-price{
            font-size: 25px;
        }
        /* --- EDITAR INFORMAÇÕES --- */

        .edit-info{
            width: 1700px;
            height: 660px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 1rem;
            margin-top: 50px;
        }

        .edit-info h2{
            margin-top: 15px;
            margin-left: 50px;
        }
        
        .edit-box{
            position: absolute;
            margin-top: 330px;
            margin-left: 500px;
            transform: translate(-50%,-50%);
            padding: 20px;
            border-radius: 1rem;
            width: 1000px;
            height: 660px;
            color: rgb(0, 0, 0);
            font-weight: lighter;
        }

        fieldset{
            border: 1px solid rgba(53, 100, 155, 1);
            border-radius: 1rem;
        }

        legend{
            border: 1px solid rgba(53, 100, 155, 1);
            padding: 10px;
            text-align: center;
            background-color: rgba(53, 100, 155, 1);
            border-radius: 10px;
            color: white;
            font-size: 15px;
            font-weight: bolder;        
        }
        .input-box{
            position: relative;
        }

        .edit-label{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            transition: .5s;
            margin-left: 5%;
        }

        .edit-input{
            background: none;
            border: none;
            border-bottom: 1px solid rgb(0, 0, 0);
            outline: none;
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 500;
            width: 90%;
            margin-left: 5%;
            letter-spacing: 2px;
        }

        .edit-input:focus ~ .edit-label,
        .edit-input:valid ~ .edit-label{
            top: 90%;
            font-size: 12px;
            color: #000000;
        }

        .button-line{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            align-items: center;
        }

        .return{
            width: 25%;
            margin-bottom: 10px;
            border: none;
            padding: 15px;
            text-align: center;
            background-color: #999999;
            color: rgb(0, 0, 0);
            font-size: 15px;
            cursor: pointer;
            border-radius: 10px;
            list-style: none;
            text-decoration: none;
        }

        .return:hover{
            background-color: #afafaf;;
            transform: translateY(-10%);
            transition: .5s;   
       }

        .return-arrow{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-bottom: -5px;
        }

        /* VER PEDIDOS (deus me ajude) */
        .order-back{
            width: 95%;
            height: 650px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 1rem;
        }

        .order-return{
            width: 25%;
            margin-left: 50px;
            margin-bottom: 0px;
            border: none;
            padding: 15px;
            text-align: center;
            background-color: #999999;
            color: rgb(0, 0, 0);
            font-size: 15px;
            cursor: pointer;
            border-radius: 10px;
            list-style: none;
            text-decoration: none;
        }

        .order-return:hover{
            background-color: #afafaf;;
            transform: translateY(-10%);
            transition: .5s;   
       }

       .details-arrow{
            width: 20px;
            height: 20px;
            margin-right: 10px;
       }
