/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* BODY */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dcdcdc;
}


/* HEADER */

header{
    background-color: #35649B;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 0 40px;
    z-index: 999;
}


/* LOGO HEADER */

.logo-header img{
    height: 60px;
}

.search-bar { display: flex; flex-direction: column; align-items: flex-start; justify-content: center; position: relative; margin-right: 100px; }
.search-bar input {
    padding: 10px 10px; border: 1px solid #000; border-radius: 15px; width: 300px; caret-color: #000;
}
.search-bar i {
    position: absolute;
    right: 10px;
}


/* MENU */

nav{
    display: flex;
    align-items: center;
    gap: 70px;
}

nav a{
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 12px;

    transition: 0.3s;
}

nav a:hover{
    opacity: 0.8;
}

nav i{
    font-size: 30px;
}


/* MAIN */

main{
    /* flex: 1; */
    min-height: 100vh;
}

.placeholder-img{
    width: 150px;
    height: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #777;
    background: #f8f9fa;
}

.placeholder-img i{
    font-size: 42px;
    color: #999;
}

.placeholder-img span{
    font-size: 14px;
    font-weight: 500;
}


/* FOOTER */

footer{
    background-color: #35649B;
    color: white;

    display: flex;
    justify-content: space-around;

    padding: 35px 50px;
    position: sticky;

    min-height: 200px;
}


/* ESQUERDA */

.footer-esquerda{
    display: flex;
    align-items: center;
    gap: 20px;

    width: 420px;
}

.footer-esquerda img{
    width: 110px;
}

.footer-esquerda p{
    font-size: 17px;
    line-height: 1.5;
}


/* LINKS */

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-links h2{
    margin-bottom: 8px;
}

.footer-links a{
    color: white;
    font-size: 16px;
}


/* CONTATOS */

.footer-contato{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 350px;
}

.footer-contato h2{
    margin-bottom: 8px;
}

.footer-contato p{
    display: flex;
    gap: 12px;

    font-size: 16px;
    line-height: 1.4;
}

.footer-contato i{
    font-size: 20px;
    margin-top: 2px;
}